<div class="main">
    {% for product in products %}
        <section class="containerProducts">
            <div class="image"> <img src="{{ product.image }}" alt="{{ product.title }}"></div>
            <div class="text">
                <div class="textcontainer">
                    <h1>{{ product.title }}</h1>
                    <p>Цена: {{ product.price }}</p>
                    <p>Описание: {{ product.description }}</p>
                </div>
                <form>
                    <label for="quantity">Количество:</label>
                    <input type="number" id="quantity" name="quantity" min="1" max="10">
                    <input type="submit" value="Добавить в корзину">
                </form>
            </div>
        </section>
    {% endfor %}
</div>